$colorPrincipal: lightcoral;
$colorNegro: black;
$colorBlanco: white;
$colorSombra: #7A7A7A;
$colorGris: grey;
$colorParrafo: rgb(167, 167, 167);
$colorDescripcion: #a7a7a7;
$colorBoton: rgb(219, 90, 90);
$colorBotonHover: rgb(207, 11, 11);
$colorRojo: red;
$colorAzul: blue;
$colorVerde: green;