<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Conocé a cada una de las personas que integramos tokyoBAR">
        <meta name="keywords" content="SUSHI, DELIVERY, RESTAURANT, COMIDA, JAPONESA, ROSARIO">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Blinker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://kit.fontawesome.com/cb51e3ce8a.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="../img/icono.jpg">
        <title>tokyoBAR - Nuestro Staff</title>
    </head>
    <body>
        <!--HEADER-->
        <header class="header">
            <div class="header__container">
                <div class="header__logo">
                    <span>tokyoBAR</span>
                </div>
                <div class="menuNav">
                    <nav>
                        <ul class="menuNav__lista">
                            <li><a href="../index.html" class="menuNav__item">Inicio</a></li>
                            <li><a href="./productos.html" class="menuNav__item">Productos</a></li>
                            <li><a href="./historia.html" class="menuNav__item">Historia</a></li>
                            <li><a href="./nosotros.html" class="menuNav__item">Nosotros</a></li>
                            <li><a href="./contacto.html" class="menuNav__item">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!--MAIN-->
        <main class="main">
            <div class="main__dummy"></div>
            <div class="main__container">
                <h1 class="main__titulo">Conocé a nuestro Staff</h1>
                <h2 class="main__subtitulo">
                    Te invitamos a conocer a nuestro selecto staff, siempre dispuesto a evacuar todas tus dudas y brindarte el mejor
                    servicio. Dejamos el perfil de cada uno para que puedas tener seguridad con nosotros.
                </h2>
                <p class="main__titulo">Cocina</p>
                <div class="scard1">
                    <img src="../img/staff01.jpg" alt="Foto de Codubi" class="scard1__img">
                    <div class="scard1__info">
                        <p class="scard1__nombre">Sebastián Codubi</p>
                        <p class="scard1__cargo">Sushiman</p>
                        <p class="scard1__descripcion">
                            Atento, minucioso, fanático de los Simpsons y creador de Voxed. Meticuloso en su 
                            trabajo e hizo grandes contribuciones al Omniverso3P (en especial a JULY3P y a Kike "El guerrero de Dios"). 
                            A partir de Noviembre del 2020 dejó su sitio web y se dedicó al sushi. Le tiraron las medialunas.
                        </p>
                    </div>
                </div>
                <div class="scardBetween"></div>
                <div class="scard2">
                    <img src="../img/staff02.jpg" alt="foto de Roberta" class="scard2__img">
                    <div class="scard2__info">
                        <p class="scard2__nombre">Roberta Sánchez</p>
                        <p class="scard2__cargo">Sushiwoman</p>
                        <p class="scard2__descripcion">
                            Detallista, creativa. Intensamente cinéfila, posiblemente una prima perdida de Sandro de América 
                            (Roberto Sánchez), apasionada del sushi de Tokio y maestra 2do Dan en Kung Fu estilo Tao Yang Chuan 
                            (siempre nombrando al maestro Chiri).
                        </p>
                    </div>
                </div>
                <p class="main__titulo">Recursos Humanos</p>
                <div class="scard1">
                    <img src="../img/staff03.jpg" alt="Foto de Lara" class="scard1__img">
                    <div class="scard1__info">
                        <p class="scard1__nombre">Lara Tolosa</p>
                        <p class="scard1__cargo">Selección de personal</p>
                        <p class="scard1__descripcion">
                            Vegetariana y workaholic. Toca la guitarra y el bajo. Fan de las tormentas y de 
                            Gustavo Cerati, es capaz de estar 48 horas despierta con tal de encontrar el candidato correcto para un 
                            puesto. Licenciada en Recursos Humanos.
                        </p>
                    </div>
                </div>
                <div class="scardBetween"></div>
                <div class="scard2">
                    <img src="../img/staff04.jpg" alt="Foto de Julio" class="scard2__img">
                    <div class="scard2__info">
                        <p class="scard2__nombre">Julio de Rissio</p>
                        <p class="scard2__cargo">Asistente en RRHH</p>
                        <p class="scard2__descripcion">
                            Productor de vocación, escritor y artesano en los tiempos libres. Siempre tiene 
                            listo a mano un cassette del Dr. Tangalanga para escuchar mientras trabaja. El alma de tokyoBAR y 
                            nuestro "class clown" mas amado.
                        </p>
                    </div>
                </div>
                <p class="main__titulo">Trabajá con nosotros</p>
                <p class="main__subtitulo">
                    Si estás interesado en formar parte de nuestro staff envianos tu CV con foto, datos y 
                    pretensión económica a: rrhh@tokyobar.com.ar
                </p>
            </div>
        </main>
        <!--FOOTER-->
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__espacio"></div>
                <h4 class="footer__logo">tokyoBAR</h4>
                <p class="footer__parrafo">Copyright &copy; 2021 - Leandro Berne</p>
                <div class="footer__social">
                    <i class="fab fa-facebook"><a href="https://www.facebook.com/"></a></i>
                    <i class="fab fa-instagram"><a href="https://www.instagram.com/"></a></i>
                    <i class="fab fa-twitter"><a href="https://twitter.com"></a></i>
                </div>
            </div>
        </footer>
        <!--JS de Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    </body>
</html>