<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Te invitamos a ver nuestro menú online actualizado tanto para delivery o deleitarte en nuestro local">
        <meta name="keywords" content="SUSHI, DELIVERY, RESTAURANT, COMIDA, JAPONESA, ROSARIO">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Blinker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://kit.fontawesome.com/cb51e3ce8a.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="../img/icono.jpg">
        <title>tokyoBAR - Nuestros Productos</title>
    </head>
    <body>
        <!--HEADER-->
        <header class="header">
            <div class="header__container">
                <div class="header__logo">
                    <span>tokyoBAR</span>
                </div>
                <div class="menuNav">
                    <nav>
                        <ul class="menuNav__lista">
                            <li><a href="../index.html" class="menuNav__item">Inicio</a></li>
                            <li><a href="./productos.html" class="menuNav__item">Productos</a></li>
                            <li><a href="./historia.html" class="menuNav__item">Historia</a></li>
                            <li><a href="./nosotros.html" class="menuNav__item">Nosotros</a></li>
                            <li><a href="./contacto.html" class="menuNav__item">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!--MAIN-->
        <main class="main">
            <div class="main__dummy"></div>
            <div class="main__container">
                <h1 class="main__titulo">Nuestros Productos</h1>
                <h2 class="main__subtitulo">
                    Te ofrecemos la mayor variedad de rolls, nigiris y combinados para que puedas disfrutar en nuestro local o en
                     tu casa con nuestro servicio de Delivery online.
                </h2>
                <p class="main__titulo">Rolls</p>
                <div class="cardContainer">
                    <div class="pcard">
                        <img class="pcard__img" src="../img/california.jpg" alt="California Roll">
                        <h2 class="pcard__titulo">California Roll</h2>
                        <p class="pcard__parrafo">Kani-kama, Palmitos y Queso Philadelphia (9 unidades)</p>
                        <p class="pcard__precio">$790</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/newyork.jpg" alt="New York Roll">
                        <h2 class="pcard__titulo">New York Roll</h2>
                        <p class="pcard__parrafo">Salmón, Palta, Pepino y Queso Philadelphia (9 unidades)</p>
                        <p class="pcard__precio">$790</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/philadelphia.jpg" alt="Philadelphia Roll">
                        <h2 class="pcard__titulo">Philadelphia Roll</h2>
                        <p class="pcard__parrafo">Salmón, Queso Philadelphia y Semillas de Sesamo (9 unidades)</p>
                        <p class="pcard__precio">$750</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/sakemaki.jpg" alt="Sake Maki Roll">
                        <h2 class="pcard__titulo">Sake Maki Roll</h2>
                        <p class="pcard__parrafo">Salmón, Palta, Queso Philadelphia y Envuelto en alga nori (9 unidades)</p>
                        <p class="pcard__precio">$800</p>
                    </div>
                </div>
                <div class="cardContainer">
                    <div class="pcard">
                        <img class="pcard__img" src="../img/veggie.jpg" alt="Veggie Roll">
                        <h2 class="pcard__titulo">Veggie Roll</h2>
                        <p class="pcard__parrafo">Tomate, Rucula, Palta y Envuelto en alga nori (9 unidades)</p>
                        <p class="pcard__precio">$800</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/boston.jpg" alt="Boston Roll">
                        <h2 class="pcard__titulo">Boston Roll</h2>
                        <p class="pcard__parrafo">Atún, Rúcula, Semillas de Sésamo y Alga Nori (9 unidades)</p>
                        <p class="pcard__precio">$800</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/creamtuna.jpg" alt="Cream Tuna Roll">
                        <h2 class="pcard__titulo">Cream Tuna Roll</h2>
                        <p class="pcard__parrafo">Atún, Queso Philadelphia, Rúcula y Especias (9 unidades)</p>
                        <p class="pcard__precio">$800</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/yasai.jpg" alt="Yasai Roll">
                        <h2 class="pcard__titulo">Yasai Roll</h2>
                        <p class="pcard__parrafo">Inari, Palta, Pepino y Bañado en Salsa Teriyaki (7 unidades)</p>
                        <p class="pcard__precio">$690</p>
                    </div>
                </div>
                <p class="main__titulo">Nigiris</p>
                <div class="cardContainer">
                    <div class="pcard">
                        <img class="pcard__img" src="../img/lango.jpg" alt="Nigiri Lango">
                        <h2 class="pcard__titulo">Nigiri Lango</h2>
                        <p class="pcard__parrafo">Langostino, Alga Nori y Bañado en Salsa Teriyaki Dulce (5 unidades)</p>
                        <p class="pcard__precio">$900</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/salmongrill.jpg" alt="Nigiri Salmón Grill">
                        <h2 class="pcard__titulo">Nigiri Salmón Grill</h2>
                        <p class="pcard__parrafo">Salmón grillado, Envuelto en alga nori y Bañado en Salsa Teriyaki (5 unidades)</p>
                        <p class="pcard__precio">$1000</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/salmon.jpg" alt="Nigiri Salmón">
                        <h2 class="pcard__titulo">Nigiri Salmón</h2>
                        <p class="pcard__parrafo">Clásico nigiri de Salmón finamente laminado (6 unidades)</p>
                        <p class="pcard__precio">$950</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/geisha.jpg" alt="Nigiri Geisha">
                        <h2 class="pcard__titulo">Nigiri Geisha</h2>
                        <p class="pcard__parrafo">Salmón, Pepino y Rúcula con alga nori sin arroz (7 unidades)</p>
                        <p class="pcard__precio">$530</p>
                    </div>
                </div>
                <p class="main__titulo">Combinados</p>
                <div class="cardContainer">
                    <div class="pcard">
                        <img class="pcard__img" src="../img/especial.jpg" alt="Combinado Especial">
                        <h2 class="pcard__titulo">Combinado Especial</h2>
                        <p class="pcard__parrafo">Combinado de Rolls, Nigiris Especiales y Sashimi (25 unidades)</p>
                        <p class="pcard__precio">$2385</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/comboveggie.jpg" alt="Combinado Veggie">
                        <h2 class="pcard__titulo">Combinado Veggie</h2>
                        <p class="pcard__parrafo">Combinado de Rolls y Nigiris vegetarianos (15 unidades)</p>
                        <p class="pcard__precio">$1520</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/combinadofresco.jpg" alt="Combinado Salmón Fresco">
                        <h2 class="pcard__titulo">Combinado Salmón Fresco</h2>
                        <p class="pcard__parrafo">Exclusivo combinado de Rolls, Nigiris y Sashimis de Salmón (25 unidades)</p>
                        <p class="pcard__precio">$2450</p>
                    </div>
                    <div class="pcard">
                        <img class="pcard__img" src="../img/combinadohot.jpg" alt="Combinado Hot">
                        <h2 class="pcard__titulo">Combinado Hot</h2>
                        <p class="pcard__parrafo">Combinado de Hot Rolls, Nigiris y Sashimi especiado (20 unidades)</p>
                        <p class="pcard__precio">$3530</p>
                    </div>
                </div>
            </div>
        </main>
        <!--FOOTER-->
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__espacio"></div>
                <h3 class="footer__logo">tokyoBAR</h3>
                <p class="footer__parrafo">Copyright &copy; 2021 - Leandro Berne</p>
                <div class="footer__social">
                    <i class="fab fa-facebook"><a href="https://www.facebook.com/"></a></i>
                    <i class="fab fa-instagram"><a href="https://www.instagram.com/"></a></i>
                    <i class="fab fa-twitter"><a href="https://twitter.com"></a></i>
                </div>
            </div>
        </footer>
        <!--JS de Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    </body>
</html>